@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-gradient-to-br from-primary-50 to-accent-50/80;
  min-height: 100vh;
}

@layer base {
  html {
    @apply scroll-smooth min-h-full;
    background: none;
  }

  body {
    @apply antialiased min-h-full;
  }
}

@layer components {
  .project-card {
    @apply transform transition-all duration-300 hover:scale-105;
  }

  .project-card-content {
    @apply bg-white/[0.75] backdrop-filter;
  }

  .project-card-image {
    @apply opacity-[0.75];
  }

  .skill-tag {
    @apply px-3 py-1 rounded-full text-sm font-medium transition-colors;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}
