@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: transparent;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply antialiased;
  }
}

@layer components {
  .project-card {
    @apply transform transition-all duration-300 hover:scale-105;
  }

  .project-card-content {
    @apply bg-white/[0.55] backdrop-filter;
  }

  .project-card-image {
    @apply opacity-[0.55];
  }

  .skill-tag {
    @apply px-3 py-1 rounded-full text-sm font-medium transition-colors;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .graph-background-effect {
    @apply backdrop-blur-[30px] backdrop-contrast-110 backdrop-brightness-105;
    background-image: repeating-linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.1) 0px,
      rgba(255, 255, 255, 0.1) 2px,
      transparent 2px,
      transparent 32px
    ),
    repeating-linear-gradient(
      -60deg,
      rgba(255, 255, 255, 0.1) 0px,
      rgba(255, 255, 255, 0.1) 2px,
      transparent 2px,
      transparent 32px
    );
    background-size: 35px 60px;
  }
}
